#login_input{
    width: 100%;
}

#employee_login_buttons {
    width: 100%;
    text-align: center;
}

#employee-login-background {
    width: 100vw;
    height: 100vh;
    background: url(../../../images/StockSnap_R7I37OMZIU.jpg);
    background-position: 700px 100px;
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #2a2a2a;
}

#employee-login-logo{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    width: 300px;

    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
}

#ask-consulting-logo{
    margin-bottom: 10px;
}

#employee-login_buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom:20px;
    color: black;
    text-align: center;
    line-height: 60px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

#employee_login_buttons button{
    margin: 20px;
}

#employee_login-header{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}