.chat-item{
    border-style:solid;
    background-color: salmon;
}

.chat-avatar{
    float: left;
}

.chat-item-menu{
    position: fixed;
    top: 0px;
    right: 30px;
}

.chat-item-hashtags{
    vertical-align: bottom;
    height: 23px;
}

ul li{
    margin: 30px;
}