body {
    background: url(../../../images/StockSnap_R7I37OMZIU.jpg) 50% -40%;
    background-size: cover;
    color: rgb(117,120,123);
}

#login-logo{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    width: 300px;

    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
}

#login-paper{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top: 100px;
    padding: 150px 70px;
    background-color: whitesmoke;
}

#login_panel{
}

#login_buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#login_buttons button{
    margin: 20px;
}

#header{
    width: 100%;
    text-align: center;
}

#error_msg{
    color: red;
}

#success_msg{
    color: green;
}