a{
    text-decoration: underline;
    color: blue;
}

#login_buttons {
    width: 100%;
    text-align: center;
}

#login_buttons button{
    margin: 20px;
}

#header{
    width: 100%;
    text-align: center;

}

#error_msg{
    color: red;
}

#success_msg{
    color: green;
}