/*Main panel*/
#register_container{
    width: 60%;
    margin-left: 20%;
    background-color: white;
    border-radius: 10px;
}
#register_panel{
    width: 80%;
    min-height: 800px;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

#register_panel h1{
    text-align: center;
}

#terms {
    margin-left: 15px;
    margin-top: 10px;
}
#error_message{
    color: red;
}

#register-logo{
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 300px;
}

html, body{
    background-color: #2a2a2a;
    min-height: 900px;
    margin: 0;
    overflow: auto;
}