.message-text-bubble, .message-text-bubble-user{
    background-color: #86BC25;
    color: white;
    font-size: 12pt;
    max-width: 60%;
    border-radius: 13px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;
    font-family: Verdana;
    word-wrap: break-word;
}

.md-tooltip-container{
    height: 100%;
    width: 100%;
}

.message-text-bubble{
    float: left;
}

.message-text-bubble-user{
    float: right;
}