#profile_box{
    float: left;
    display: block;
    margin: 20px;
    width: 100px;
    height: 100px;
}

#user-name{
    text-align: center;
    word-break: break-all;
    font-family: Verdana;
}

#avatar-container{
    text-align: center;
}

#profile-avatar{
    width: 60px;
    height: 60px;
}