.chat-item{
    border-style:solid;
    background-color: salmon;
}

.chat-avatar{
    float: left;
}

.md-menu-container{
    float: right;
}

.chat-item-hashtags{
    vertical-align: bottom;
    height: 23px;
}

.chat-item-list-item{
    margin: 30px;
}