#chat-list{
    float:left;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top:0;
    right: 0;
    height: calc(100% - 172px);
    background-color: rgb(197,200,203);
}

#chat-list::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#chat-list::-webkit-scrollbar
{
    width: 12px;
    background-color:rgb(117,120,123);
}

#chat-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(117,120,123);
}