.chat-item{
    width: 100%;
    height: 200px;
    border-style:solid;
    border-color: blue;
    background-color: salmon;
}
/*Top*/
#chatItem_top{
    width: 100%;
    height: 50px;
    margin-top: 5px;
}

#avatar{
    width: 20%;
    height: 50px;
    float: left;

}

#question_title{
    width: 70%;
    height: 50px;
    float: left;

}

#question_menu{
    width:10%;
    height: 50px;
    float: right;
}

/*middle*/
#chatItem_mid{
    width: 100%;
    height: 100px;
}

#question_content{
    width:90%;
    height: 80px;
    margin-left: 5%;
}

#question_timestamp{
    width:90%;
    height: 20px;
    margin-left: 5%;
}

/*bottom*/
#chatItem_bottom{
    width: 100%;
    height: 50px;
}

#question_hashtag{
    width: 100%;
    height: 50px;
}


.chat-item-hashtags{
    margin-top: 10px;
    margin-left: 5px;
    vertical-align: bottom;
    height: 23px;
}

.chat-item-list-item{
    margin: 30px;
}

.chat-avatar{
    margin-top: 10px;
    margin-left: 5px;
}