body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*.button {*/
    /*background-color: #86BC25;*/
    /*border-radius: 3px;*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*margin-bottom: 5px;*/
    /*padding: 5px 15px;*/
    /*text-decoration: none;*/
    /*margin: 10px;*/
/*}*/